.content {
  padding: 2rem 0;
  border-bottom: 1.5px solid rgb(192, 190, 190);
  border-top: 1.5px solid rgb(192, 190, 190);
}

.searchBtn {
  width: 10rem;
  margin-top: 3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
