.item {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 10rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;

  svg {
    position: absolute;
    right: 0.2rem;
    font-size: 1.3rem;
  }
}
