.modal {
  position: absolute;
  z-index: 5;
}

.content {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  h5 {
    font-size: 1.1rem;
  }

  svg {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.submit-btn {
  width: 100%;
  padding: 0.4rem;
  box-shadow: none;
}

@media (max-width: 768px) {
  .modal {
    left: 0;
    width: 100%;
    padding: 0 1.5rem;
  }

  .content {
    width: 100%;
  }
}
