.label {
  font-weight: 700;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.stay-input {
  height: 2.5rem;
  width: 10rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  outline: none;
}

.stay-search-btn {
  height: 2.5rem;
  margin-right: 3rem;
  padding: 0.5rem 1.5rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}
